.home {
	padding: 50px;
	font-family: "Verdana, Arial";
	background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
	font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
}

.home-img {
	padding: 15px;
	border-radius: 200px;
}

.project-div {
	padding: 50px;
	background-color: white;
	font-family: 'Ubuntu', sans-serif;
}

.projects {
	background: rgb(34,56,195);
	background: linear-gradient(0deg, rgba(34,56,195,1) 0%, rgba(253,45,210,1) 100%);
	padding: 100px;
}

.course {
	background: rgb(0,176,255);
	background: radial-gradient(circle, rgba(0,176,255,1) 0%, rgba(181,255,0,1) 100%);
	padding: 100px;
}

hr {
	border-top: 15% dotted grey;
}